
.movieposter{
  height: 500px;
  width: 340px;
  object-fit: cover;
}

.movie-specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container{
  width: 340px;
}

.summary{
  margin: 4px 0 8px 0;
  font-family: cursive;
  font-weight: normal;
  font-size: 20px;
}

body{
  margin: 40px;
}

.movie-list{
  display: flex;
  gap:40px;  
  flex-wrap: wrap;
  justify-content: center;
}

label{
  display: inline-block;
  width: 100px;
}
