

.App{
  min-height: 100vh;
}
.movieposter{
  height: 500px;
  width: 450px;
  object-fit: cover;
}

.movie-specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container{
  width: 450px;
  border: 1px solid black;
  padding: 2px;
  border-radius: 5px;
}

.summary{
  margin: 4px 0 8px 0;
  font-family: cursive;
  font-weight: normal;
  font-size: 20px;
}

.movie-list{
  display: flex;
  gap:40px;  
  flex-wrap: wrap;
  justify-content: center;
}

label{
  display: inline-block;
  width: 100px;
}

.movie-specs1{
  width:669px;
}



